<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Attributes not provided</title>
  </head>
  <body>
    Required attributes was not provided. The nonce field is required as well as
    the following fields from userinfo are. The administrator of the
    discourse-sso-oidc-bridge could perhaps read the logs and setup a mapping
    using the the USERINFO_SSO_MAP configuration option.
    <ul>
      <li>external_id (required)</li>
      <li>email (required)</li>
    </ul>
  </body>
</html>
