[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
pytest = "*"
setuptools = "*"
twine = "*"
urllib3 = "*"
wheel = "*"

[packages]
flask = "~=1.0"
flask-pyoidc = "~=2.0"
healthcheck = "*"

[requires]
python_version = "3.6"
