[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
urlparse = "*"

[packages]
flask = "*"
flask-pyoidc = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
