[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
pytest = "*"
urllib3 = "*"

[packages]
flask = "*"
flask-pyoidc = "*"

[requires]
python_version = "3.6"
